body{
  font-family: Arial, Helvetica, sans-serif;
}
.login-block{
  color: #fff;
}

.center-block{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 200px;
}
.control-label{
  font-size: 20px;
  font-weight: normal;
}
.pin-content{
  background-color: rgba(0,0,0,0.5);
  margin-top: 80px;
}

.pin-content h2{
  text-align: center;
  color: rgb(53, 134, 90);
  padding-top: 20px;
  font-size: 30px;
  font-weight: 100;
}
.pin-content-item{
  width: 250px;
  float: left;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(32,32,32,0.5);
}

.pin-content-item h3{
  border-bottom: 1px dotted rgb(53, 134, 90);
  padding-bottom: 4px;
}

.pin-content-item a{
  color: rgb(53, 134, 90);
}

.pin-content-item img{
  width: 230px;
}

.pin-create-date{
  margin-top: 3px;
  color: rgb(100, 139, 118);
}

.modal-content{
  color: #fff;
  background-color: #222;
}
.modal-header{
  color: rgb(53, 134, 90);
}
.btn-forest-green{
  background-color: rgb(53, 134, 90);
  border-color: rgb(53, 134, 90);
  color: #fff;
}
.btn-light-gray{
  color: rgb(53, 134, 90);
  background-color: #fff;
  border-color: #fff;

}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.pagination span{
  color: rgb(53, 134, 90);
}
.pagination a{
  background-color: rbg(157,157,157);
}