<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'site/css/pins.css' %}">
    <style type="text/css">
    body{
      background-image: url("{% static 'site/img/BG.png' %}");
      background-position: 50% 50%;
      background-color: #000;
    }
    </style>
    {% block css %}
    {% endblock %}
    <title>Jousterest</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Jousterest</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
            <li>
              <a href="{% url 'user-logout' %}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

    {% block content %}
    {% endblock %}

    {% block modals %}
    {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'site/js/vendor/jquery-2.1.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/vendor/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/vendor/jquery.masonry.js' %}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>